{{!-- Reproductor audio/video 

// ** v-ply--fx -> Player fixed

// Tipos
// ---------------------------------------
// ** v-ply--t1 -> Player soundcite
// ** v-ply--t2 -> Player noticia 
// ** v-ply--t3 -> Player componente
// ** v-ply--t4 -> Player podcast
--}}

{{#if (or playerPaywall player.playerPaywall)}}
<div data-05a9fe6971e0b460653=""> {{!-- NOTE: El dato numérico no es siempre este, evolok lo va cambiando --}}
{{/if}}

{{#unless (or playerVideo player.playerVideo)}}
<div data-voc-react="">
{{/unless}}

  <div class="v-ply {{playerClasses}} {{#if (or playerActive player.playerActive)}}is-active is-play{{/if}}" data-voc-component="player">
    <div class="v-ply__c {{playerContainerClasses}}">
      <div class="v-ply__w v-ply__w--1">
        {{#if (or playerRewind player.playerRewind)}}
          <div class="v-ply__g v-ply__g--1">
            {{#> button class="v-ply__r v-ply__r--l"}}{{#if (or playerRewind10 player.playerRewind10)}}{{> icons/icon-rwd-10}}{{else}}{{> icons/icon-rwd-30}}{{/if}}{{/button}}
        {{/if}}

          <button class="v-ply__b" {{#if customPlayerID}}popovertarget="{{customPlayerID}}"{{/if}}>     
            <span class="v-ply__i">
              {{> icons/icon-play}}
              {{> icons/icon-pause}}
            </span>
          </button>
        
        {{#if (or playerRewind player.playerRewind)}}
            {{#> button class="v-ply__r v-ply__r--r"}}{{#if (or playerRewind10 player.playerRewind10)}}{{> icons/icon-fwd-10}}{{else}}{{> icons/icon-fwd-30}}{{/if}}{{/button}}
          </div>
        {{/if}}
      </div>

      {{#unless (or playerButton player.playerButton)}}
        <div class="v-ply__w v-ply__w--2">
          {{#if (or playerHasTitle player.playerHasTitle)}}
            <p class="v-ply__t">{{{or customPlayerTitle prlayer.customPlayerTitle "Escucha la noticia"}}}</p>
          {{/if}}

          {{#unless (or playerNotProgress player.playerNotProgress)}}
            <div class="v-ply__g v-ply__g--2">
              <div class="v-ply__v">
                <progress {{#if (or playerActive player.playerActive)}}{{#if (or playerProgressZero player.playerProgressZero)}}value="0" max="0"{{else}}value="100" max="427"{{/if}}{{else}}value="0" max="0"{{/if}}></progress>

                {{#if (or playerHasMarker player.playerHasMarker)}}
                  <span class="v-ply__m"></span>
                {{/if}}
              </div>
            </div>
          {{/unless}}

          {{#unless (or playerNotTime player.playerNotTime)}}
            <p class="v-ply__g v-ply__g--3">
              {{#if (or playerHasAnimationSound player.playerHasAnimationSound)}}
                {{> animation-sound}}
              {{/if}}

              <span class="v-ply__p">
                {{#if (or customPlayerTime player.customPlayerTime)}}
                  {{customPlayerTime}}
                {{else if (or playerActive player.playerActive)}}
                  02:30 / 08:00
                {{else}}
                  8 min
                {{/if}}
              </span>
            </p>
          {{/unless}}
        </div>
      {{/unless}}

      {{#if (or playerHasClose player.playerHasClose)}}
        {{#> button class="v-x"}}{{> icons/icon-close}}{{/button}}
      {{/if}}

      {{#if (or playerVideo player.playerVideo)}}
      {{else if (or playerButton player.playerButton)}}
      {{else}}
        <audio src=""></audio>
      {{/if}}
    </div>
  </div>
  
{{#unless (or playerVideo player.playerVideo)}}
</div>
{{/unless}}

{{#if playerPaywall}}
</div>
{{/if}}