{{> base/head }}

{{> base/header }}

<div class="voc-wrapper">
  {{!-- NOTE: Article heading --}}
  <div class="voc-container voc-container--wxs" data-mrf-recirculation="Apertura">
    <div class="voc-article-container">
      <div class="voc-article voc-article--detail voc-article--detail-visual">
        <div class="voc-info-container {{#if infoContainerDark}}voc-info-container--dark{{/if}}">
          {{!-- NOTE: ABC Premium badge --}}
          {{#if ABCPremiumBadge}}
            <p class="voc-pretitle">
              <span class="voc-pretitle__prm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 24">
                  <use href="#icon-premium-pretitle"></use>
                </svg>
              </span>
            </p>
          {{/if}}

          {{!-- NOTE: Titulo --}}
          <h1 class="voc-title">{{ title }}</h1>

          {{!-- NOTE: Componente autor/autores --}}
          {{> components/author }}
        </div>
      </div>
    </div>
  </div>

  <div class="voc-container voc-container--wxs" data-mrf-recirculation="Apertura">
    <div class="voc-d voc-d--visual" data-voc-component="voc-d">
      <h2 class="voc-subtitle">
        {{ subtitle }}
      </h2>

      {{> components/bar-socials-updated-article }}    

      {{!-- NOTE: Suele haber una p antes del contenido cuando lleva paywall, que se embute en layout/article-content -> layout/article-paywall-content --}}
      {{#if hasPaywall}}
        <p class='voc-p'>{{{ paywallFirstP }}}</p>

        {{> components/paywall }}
      {{else }}
        <p class='voc-p'>{{{ paywallFirstP }}}</p>

        <span class="paywall">
          {{> layout/article-content }}

          {{> components/credits }}
        </span>
      {{/if}}

      {{#if topics}}
        {{> components/topics }}
      {{/if}}

      {{#unless hasPaywall}}
      {{> components/btns-pre-footer }}
      {{/unless}}
    </div>
  </div>
</div>

{{> base/footer }}

{{> base/foot }}