<div class="v-ath__w v-ath__w--2">
  <figure class="v-ath__f">
    <img class="v-ath__i" loading="lazy" src="{{metadata.firma.authorImg}}" alt="{{metadata.firma.authorName}}">
  </figure>
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="{{metadata.firma.authorUrl}}" title="{{metadata.firma.authorName}}">{{metadata.firma.authorName}} <span class="v-b-i">
          <svg viewBox="0 0 14 24">
            <use href="#icon-author"></use>
          </svg>
        </span>
      </a>
    </p>
    <p class="v-ath__p v-ath__p--2"></p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-03-27T12:01:55Z">27/03/2026 <span>Actualizado a las 13:01h.</span>
  </time>
  <button class="v-ath__b v-ath__b--4 v-btn v-btn-i v-btn-i--l v-btn--s" snackbartarget="msg-2" aria-label="Seguir autor">
    <span class="v-i">
      <svg viewBox="0 0 24 24">
        <line class="line line-1" x1="12" y1="2" x2="12" y2="22"></line>
        <line class="line line-2" x1="2" y1="12" x2="22" y2="12"></line>
        <path class="line line-3" d="M5 13 L10 18 L19 6"></path>
      </svg>
    </span>
  </button>
</div>