<div class="box-heading {{class}} {{#if isTimer}}is-timer{{/if}}" {{#if isTimer}}data-time-spin="{{hours}}:{{minutes}}"{{/if}}>
  {{#if isTimer}}
    <span>22:13</span>
  {{else}}
    <span>{{title}}</span>
  {{/if}}
</div>