<div class="n-lad n-lad--{{number}}">
  <div class="n-lad__h">
    <span class="n-lad__num">{{number}}</span>
    <span class="n-lad__t">
      <span class="n-lad__t-l"><span class="n-lad__t-crs">_</span>{{title}}</span>
      {{#if title2}}
        <span class="n-lad__t-l"><span class="n-lad__t-crs">_</span>{{title2}}</span>
      {{/if}}
      {{#if title3}}
        <span class="n-lad__t-l"><span class="n-lad__t-crs">_</span>{{title3}}</span>
      {{/if}}
    </span>
  </div>
  <figure class="n-lad__img">
    <img src="assets/images/{{imageSrc}}" alt="" aria-hidden="true">
  </figure>
</div>