<div class="n-lad n-lad--{{number}}" role="group" aria-labelledby="lad-title-{{number}}">
  <div class="n-lad__h">
    <span class="n-lad__num" aria-hidden="true">{{number}}</span>
    <span class="n-lad__t" id="lad-title-{{number}}">
      <span class="n-lad__t-l"><span class="n-lad__t-crs" aria-hidden="true">_</span>{{title}}</span>
      {{#if title2}}
        <span class="n-lad__t-l">{{title2}}</span>
      {{/if}}
      {{#if title3}}
        <span class="n-lad__t-l">{{title3}}</span>
      {{/if}}
    </span>
  </div>
</div>