<div class="n-sum n-sum--{{number}}">
  <div class="n-sum__h">
    <span class="n-sum__num">{{number}}</span>
    <span class="n-sum__t">
      <span class="n-sum__t-l">_{{title}}</span>
      {{#if title2}}
        <span class="n-sum__t-l">_{{title2}}</span>
      {{/if}}
      {{#if title3}}
        <span class="n-sum__t-l">_{{title3}}</span>
      {{/if}}
    </span>
  </div>
  <figure class="n-sum__img">
    <img src="" alt="">
  </figure>
</div>