<div class="card {{#if indexArray}}card--{{@index}}{{/if}} {{#if i}}card--{{i}}{{/if}}{{classes}}">
  {{#if anchor}}
  <a href="#{{anchor}}">
  {{/if}}
    <figure class="card__fig">
      <img src="assets/images/cards/{{imgSrc}}.png" alt="{{title}}">
    </figure>

    <span class="card__t">{{title}}</span>
    <p class="card__p">
      {{desc}}
    </p>
  {{#if link}}
  </a>
  {{/if}}
</div>