<div class="combo-2">
  <figure class="combo-2-f combo-2-f--1">
    {{#if video1}}
      <video src="assets/images/combo2/video-1.mp4" autoplay loop muted playsinline></video>
    {{else}}
      <img src="{{#if img1}}assets/images/combo2/combo2-1.jpg{{else}}https://picsum.photos/434/500{{/if}}" alt="">
    {{/if}}
    {{#if figcaption1}}
    <figcaption class="combo-2-f__fc">
      {{figcaption1}}
      <span>{{figcaptionAuthor1}}</span>
    </figcaption>
    {{else}}
    <figcaption class="combo-2-f__fc">
      Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.
      <span>FIRMA</span>
    </figcaption>
    {{/if}}
  </figure>
  <figure class="combo-2-f combo-2-f--2">
    {{#if video2}}
      <video src="assets/images/combo2/video-2.mp4" autoplay loop muted playsinline></video>
    {{else}}
      <img src="{{#if img1}}assets/images/combo2/combo2-2.jpg{{else}}https://picsum.photos/435/500{{/if}}" alt="">
    {{/if}}
    {{#if figcaption2}}
    <figcaption class="combo-2-f__fc">
      {{figcaption2}}
      <span>{{figcaptionAuthor2}}</span>
    </figcaption>
    {{else}}
    <figcaption class="combo-2-f__fc">
      Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.
      <span>FIRMA</span>
    </figcaption>
    {{/if}}
  </figure>
</div>